In [6]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [8]:
sns.set()

**Importing the dataset**

In [9]:
df=pd.read_csv("/content/Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [10]:
df.isna().any().sum()

0

we dont have any missing values in the dataset

In [11]:
#Removing User Id Column as all Ids are unique and it wont help us in the analysis.

In [12]:
df.drop("User ID",axis=1,inplace=True)
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [13]:
#encoding the categroical column "Gender"
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Gender"]= le.fit_transform(df["Gender"])
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [15]:
X = df.iloc[:, :-1].values
Y= df.iloc[:, -1].values

**Splitting the dataset into the Training set and Test set**

In [16]:
#from https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0,stratify=Y)
print('Shape of X_train is ', X_train.shape)
print('Shape of X_test is ', X_test.shape)
print('Shape of Y_train is ', Y_train.shape)
print('Shape of Y_test is ', Y_test.shape)

Shape of X_train is  (320, 3)
Shape of X_test is  (80, 3)
Shape of Y_train is  (320,)
Shape of Y_test is  (80,)

**Feature Scaling**

In [17]:
#Standardization 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

**Fitting K-NN to the Training set**

In [18]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, Y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [19]:
Y_pred = classifier.predict(X_test)

**Making the Confusion Matrix**

In [20]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, Y_pred)
print(cm)

[[48  3]
 [ 4 25]]

In [21]:
accuracy_score(Y_test, Y_pred)

0.9125

In [ ]:
#We got accuracy of 91.25% for the classification using KNN algorithm.